<html>
<head>
	<title> Jeden's Blog Site Example </title>
</head>
<body>
	<div>
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>
	
{# Notice that the double curly brackets "({ xxxx }}" and "'{% xxxx %}'" are django template tags something HTML does not #}
	{#understand but with the said tags from django we can enjoy python inside HTML file #}
	
	{% for post in posts %}
		<div>
			<p>published: {{ post.published_date }}</p>
			<h1><a href="">{{ post.title }}</a></h1>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
	
</body>
</html>