{% extends 'blog/base.html' %}

{% block content %}
	<div clase="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}
	<!-- Adding this anchor tag to insert editing functions for the site and call edit form then -->	
		{% if user.is_authenticated %}
		<a class="button btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	<!-- ************************************************************************************** -->
		<h1>{{ post.title }}</h1>
		<p>{{ post.text|linebreaksbr }}</p> 
	</div>
{% endblock %}